# Copyright 2018 Radicalbit S.r.l.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

/*.iml
### Java template

# OSx files
*.DS_Store

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Scala template
*.log

# sbt specific
.cache
.history
.lib/
dist/*
**/target

# ui specific
**/.frontend

lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

mainRunner
# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea
*.sc
data
nsdb-kafka-connect/full-stack
